.form-check span{
 
}
.form-check span.checked{
    color: orange;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > a, .pagination > li > span {
  color:black;
  text-decoration: none;
  background-color:#eee;
}
.pagination > li > span:hover
{
    color: green;
    background-color: #eee;
    border-color: #ddd;
}
 
.pagination > .active > a
{
    color: white;
    background-color:black;
    border: solid 1p black;
}

.pagination > .active > a:hover
{
    background-color:black;
    border: solid 1px black;
}
